*{
    margin: 0;padding: 0;box-sizing: border-box;
    background-color: aqua;
}
.container
{
    height: 70px;
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
}
.container h2
{
    font-size: 50px;
}

.content
{
    height: 70px;
    width: 100%;
    display: inline-flex;
    text-align: center;
    align-items: center;
    margin-left: 41%;
    padding: 50px;
}
.content h3
{
    padding-right: 20px;
    padding-left: 20px;
    font-size: 50px;
}
.buttons1
{
    height: 50px;
    width: 50px;
    font-size: 40px;
    background-color: yellow;
}
.buttons2
{
    height: 50px;
    width: 50px;
    font-size: 40px;
    background-color: yellow;
}

